<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391281534032-nbicni9vp5jfr5bnrpjlf5nie26qm62m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391281534032-nbicni9vp5jfr5bnrpjlf5nie26qm62m</string>
	<key>API_KEY</key>
	<string>AIzaSyDHN_d5CIn5j-C0Kgb0H9Sp6NqlEY7deAw</string>
	<key>GCM_SENDER_ID</key>
	<string>391281534032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocerApp</string>
	<key>PROJECT_ID</key>
	<string>grocer-aaf95</string>
	<key>STORAGE_BUCKET</key>
	<string>grocer-aaf95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391281534032:ios:90f6723caad5c2a6241d55</string>
</dict>
</plist>